<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page.title %}
      <title>{{ page.title | escape }} - {{ site.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}

    <link rel="stylesheet" href="{{ '/assets/css/tale-custom.css' | relative_url }}">
    {% feed_meta %}
    {% seo %}
  </head>

  <body>
    {% include header.html %}

    <main>
      {{ content }}
    </main>

    <footer>
      <span>{{ site.title }} - {{ site.time | date: '%Y' }}</span>
    </footer>
  </body>
</html>